@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>The refrence <a href="https://www.imdb.com/chart/top/?ref_=nv_mv_250">Tob Best Movies</a>.</p>
    <p>Add - Remove - Read - Update Movie</p>
</div>
